{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1>Nouvel objet perdu :</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            Enregistrer
        </button>

        {{ form_end(form) }}
    </div>

{% endblock %}
